*{
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-family: 'Barlow', cursive;

}




ul.a {
  list-style-type: circle;
  padding: 0px 500px;

}

.titulo{
  padding: 10px 0px;
  color:#000000;
}

.subtitulo{
  padding: 10px 0px;
  color:#000000;
}

.sint{
  padding: 10px 0px;
  border-top: solid 1px;
}

.Cuidados{
background-color:#ff9999;
text-decoration: none;
border: solid 1px;
font-size: 30px;
display: block;

}
.Cuidados:hover{
background-color: #ff8080;
}

.Quarentena{
  background-color:#99ff99;
  text-decoration: none;
  border: solid 1px;
  font-size: 30px;
  display: inline-block;
  display: block;
  }
.Quarentena:hover{
  background-color: #66ff66;
  }


a.Cuidados:link{
    color: #000000

  }
a.Quarentena:link{
    color: #000000

    }
